body {
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

#buttons {
    display: flex;
    justify-content: right;
    align-items: center;
}

#buttons a, #button input {
    margin: 0 10px 0 10px;
}