@{
    ViewBag.Title = "Manage Unit";
}

@section myCss {
    <link href="~/css/Unit/Index.css" rel="stylesheet" />
}

<div id="outer" class="container-fluid">
    <div id="button-container">
        <a class="btn btn-primary" href="@Url.Action("ListCategoryUnit")">Category Unit</a>
        <a class="btn btn-primary" href="@Url.Action("ListUnit")">Unit</a>
    </div>
</div>