@{
    ViewBag.Title = "Test Sweet Alert";
}
@section myJs{
    <script src="~/lib/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/test.js"></script>
}

<button id="call" class="btn btn-primary">Notify</button>