@{
    ViewBag.Title = "Bưu Điện Việt Nam - VNPOST";
}

@section myCss{ 
    <link href="~/css/Manage.css" rel="stylesheet" />
}

<div id="outer" class="container-fluid d-flex justify-content-center align-content-center">
    <div class="col-5">
        <ul id="Action-List">
            <li><a role="button" class="btn btn-primary" href="@Url.Action("ListAccount", "Login")">Manage Account</a></li>
            <li><a role="button" class="btn btn-primary" href="@Url.Action("ManageRoleGroup", "Login")">Manage Role</a></li>
            <li><a role="button" class="btn btn-primary" href="@Url.Action("AddNews")">Add News</a></li>
            <li><a role="button" class="btn btn-primary" href="@Url.Action("Index","Unit")">Manage Unit</a></li>
        </ul>
    </div>
</div>