@model VNPOSTWebUILibrary.Model.Roles

@{
    ViewBag.Title = "Manage Role";
}


@section myCss {
    <link href="~/css/ManageRole.css" rel="stylesheet" />
}

@section myJs {
    <script src="~/lib/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/ManageRole.js"></script>
}

<div id="outer">
    <div id="inner">
        <div id="function-container">
            <div id="available-role" class="list-group">
                <label>Danh sách nhóm quyền chưa được gán</label>
            </div>
            <div id="chosen-role" class="list-group">
                <label>Danh sách nhóm quyền đã được gán </label>
            </div>
        </div>
        <div id="button-container">
            <button class="btn btn-primary" onclick="getRoleList()">Save</button>
            <a href="@Url.Action("ListAccount","login")" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>