@model VNPOSTWebUI.Models.test

    <div class="container-fluid justify-content-center align-items-center">
        <form action="#" method="post">
            <div class="form-group">
                <input type="checkbox" asp-for="isChecked" />
            </div>
        </form>
    </div>