@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <div class="dropdown">
            <a role="button" href="#" id="AccountDetailDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.Name <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="AccountDetailDropDown">
                <a class="dropdown-item" href="@Url.Action("Index","Manage")">Manage</a>
                <a class="dropdown-item" href="@Url.Action("Logout","Login")">Logout</a>
            </div>
        </div>
    </li>
}
else
{
    <li><a href="@Url.Action("Login","Login")">Login</a></li>
}
