
#outer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    background-color: #dfe4ea;
}

#inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    margin: 100px 0 100px 0;
}

#function-container button {
    min-width: 200px;
    text-align: center;
}

#function-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

    #function-container > div {
        min-width: 200px;
    }

#button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#button-container button {
    width: 70px;
    margin-right: 10px;
}
